############################
# Raw sequencing data
############################
fastq/
per_sample/
Sequences/
data/16S/
bin/
taxonomy/
output/minBoot50/
output/minBoot80/

############################
# Large bioinformatics files
############################
*.fastq
*.fastq.gz
*.bam
*.bai
*.pbi
*.sam
*.tar
*.tar.gz

############################
# HPC / cluster outputs
############################
logs/
slurm-*.out
slurm-*.err

############################
# Conda / micromamba envs
############################
envs/
.conda/
.micromamba/
.mamba/

############################
# Python junk
############################
__pycache__/
*.pyc

############################
# OS / editor junk
############################
.DS_Store
.vscode/
.idea/

############################
# micromamba/conda caches #
############################
pkgs/
.conda/
.condarc
.mamba/
.micromamba/
envs/

############################
# specific files #
############################
manifest_hifi.csv
MetaData_eDNA_Malaysia.xlsx
Fig1_Map.jpeg
2511KPB-0001.pdf
scripts/R/functions_gzahn.R
scripts/play/
scripts/R/may_12_2026_next_steps.R
scripts/R/questions2answer.R

############################
# KEEP THESE (do NOT ignore)
############################
!qc/
!qc/**
!sandbox/
!sandbox/**
# keep output summaries small if tracking output/
output/**/dada_per_sample/
output/**/derep*
output/**/tmp*
output/**/cache*
.Rproj.user
output/maxEE1/
output/abundance_filter99/
